{% extends 'base.html.twig' %}

{% block title %}Accessibilité du site{% endblock %}

{% block body %}
  <div id="article">
    <h1>Aides à la navigation sur le portail solidarites-sante.gouv.fr</h1>
    <div class="paragraph">
      <h2>  Liens d’accès rapide</h2>
      Placés en haut de page, des liens d’accès rapide, affichés à la première tabulation clavier, vous permettent d’aller directement aux informations ou fonctionnalités souhaitées :<br/>
      aller au contenu : accès direct au contenu de la page<br/>
      aller à la navigation : accès direct au menu du site<br/>
      aller à la recherche : accès direct au moteur de recherche du site<br/>
    </div>
    <div class="paragraph">
      <h3>Ajustement de la taille du texte</h3>
      Vous pouvez agrandir la taille du texte du portail via les fonctionnalités de votre navigateur. Avec la majorité des navigateurs, utilisez l’une des combinaisons suivantes :<br/>
      ctrl + molette de la souris<br/>
      ctrl+ pour augmenter la taille de la police et Ctrl- pour la diminuer<br/>
    </div>
  </div>
{% endblock %}
