{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <h1>Accessibilité du site</h1>
<h2>Aides à la navigation sur le portail solidarites-sante.gouv.fr</h2>
  <h3>  Liens d’accès rapide</h3>

    Placés en haut de page, des liens d’accès rapide, affichés à la première tabulation clavier, vous permettent d’aller directement aux informations ou fonctionnalités souhaitées :

    aller au contenu : accès direct au contenu de la page

    aller à la navigation : accès direct au menu du site

    aller à la recherche : accès direct au moteur de recherche du site
    <h3>Ajustement de la taille du texte</h3>

    Vous pouvez agrandir la taille du texte du portail via les fonctionnalités de votre navigateur. Avec la majorité des navigateurs, utilisez l’une des combinaisons suivantes :
    ctrl + molette de la souris
    ctrl+ pour augmenter la taille de la police et Ctrl- pour la diminuer
{% endblock %}
