{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
  <div id="article">
    <h1>Mentions légales</h1>
      <h2>Information éditeur</h2>

    <br/> Les principaux services du ministère participent à la gestion et à l’amélioration du site solidarites-sante.gouv.fr.
    <br/>
    <br/> Le suivi éditorial, graphique et technique est assuré par le Cabinet du Ministre et par :

    <br/> la Délégation à l’information et à la communication - DICOM
    <br/>Adresse postale : 14 Avenue Duquesne - 75350 PARIS 07 SP
    <br/>Adresse des Bureaux : 10 Place des 5 Martyrs du Lycée Buffon - 75696 Paris cedex 14
    <br/> Directrice de publication
    <br/>
    <br/>Marie YANOWITZ-DURAND, Déléguée de la DICOM.
    <br/>Informations prestataires

    <h2>Droits de reproduction</h2>

    <br/>Les contenus du site solidarites-sante.gouv.fr, à l’exception des marques et logos et des contenus grevés de droits de propriété intellectuelle de tiers ou contenant des données à caractère personnel, sont des informations publiques librement et gratuitement réutilisables dans les conditions fixées par la loi n°78-753 du 17 juillet 1978, formalisées dans les conditions générales de réutilisation des informations publiques ou dans le respect des conditions générales de réutilisation des informations publiques.
    <br/>Si vous souhaitez réutiliser des contenus présents sur ce site, merci de bien vouloir nous contacter

    <h2>Données personnelles</h2>

    <br/>Lorsque des données présentes sur ce site ont un caractère nominatif, les utilisateurs doivent en faire un usage conforme aux réglementations en vigueur et aux recommandations de la Commission nationale de l’informatique et des libertés (CNIL).

    <br/>Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d’un droit d’opposition (art. 38), d’accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent. Vous pouvez exercer ce droit en vous adressant au ministère des Solidarités et de la Santé.

    <br/>Ce droit s’exerce, en justifiant de son identité :

    <br/>- par voie postale : Ministère des Solidarités et de la Santé - 14, avenue Duquesne 75350 PARIS 07 SP
    <br/>- par courrier électronique
    <h2>Liens hypertextes</h2>
    <br/> <bold>Fichiers : pdf, word, excel,…</bold>

    <br/> Pour les fichiers (pdf, word, excel,…) faire pointer le lien vers la page de notre site où figure ce document et non vers le fichier lui-même car le nom du fichier peut changer au fil du temps contrairement aux url des pages qui sont stables.
    <br/>Liens vers d’autres sites
    <br/>
    <br/> De nombreux liens vers d’autres sites, privés ou officiels, français ou étrangers, sont proposés. Leur présence ne saurait engager le ministère quant a leur contenu et ne visent qu’à permettre à l’internaute de trouver plus facilement d’autres ressources documentaires sur le sujet consulté.
    <br/>    Création de liens vers le site

    <br/>La mise en place de lien vers le site solidarites-sante.gouv.fr n’est conditionnée à aucun accord préalable.
    <br/>Responsabilités sur les contenus
    <br/>Contenus du sites

    <br/> Malgré tout le soin apporté par nos équipes éditoriales et techniques à la rédaction et la mise en ligne des documents, des erreurs typographiques ou des inexactitudes techniques ne peuvent être exclues. Le ministère des Solidarités et de la Santé se réserve le droit de les corriger à tout moment dès qu’elles sont portées à sa connaissance.
    <br/>Les informations et les documents contenus sur le site solidarites-sante.gouv.fr sont susceptibles de faire l’objet de mise à jour à tout moment. Notamment, elles peuvent faire l’objet de mises à jour entre le moment de leur téléchargement par l’internaute et celui où il en prend connaissance.
    <h2>Clause de responsabilité</h2>

    <br/>Les informations proposées sur ce site le sont à titre de service rendu au public. Malgré tout le soin apporté à la transcription des textes officiels, à la vérification des contenus et des informations, les éléments mis en ligne ne sauraient, de quelque manière que ce soit, prétendre à l’exactitude et engager la responsabilité du Ministère.

    {% endblock %}
