{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body %}



  <a href="https://www.fichier-pdf.fr/2021/03/11/guide-utilisateur---administration-et-moderation/guide-utilisateur---administration-et-moderation.pdf"/>

  Accèder au fichier ici</a>

{% endblock %}

