:root {
    --color-danger: #dc3545!important;
    --color-primary: #2965a7 !important;
    --color-info: #17a2b8!important;
    --color-success: #28a745!important;
    --color-warning: #ffc107!important;
    --text-color-light: #f8f9fa !important;
}
