.index-content {
    margin: auto;
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 15px;
    grid-template-areas: 'filters cards';
}

.filter {
    grid-area: filters;
}
.cards-content {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1294px) {
    .index-content {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 690px) {
    .content .index-content {
        grid-template-columns: auto;
        grid-template-areas: 'filters' 'cards';
        grid-row-gap: 15px;
    }
}