.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup-content-background);
}

.popup .popup-content {
    position: fixed;
    top: calc(50% - 140px);
    left: calc(50% - 95px);
    background-color: var(--charte-white);
    width: max-content;
    box-shadow: 0 0 5px var(--charte-grey);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popup .popup-content #popup-cancel {
    display: block;
    position: absolute;
    top: -30px;
    right: -30px;
}

.popup .popup-content a {
    max-width: 150px;
}

.popup .popup-content a:not(:last-of-type) {
    margin-bottom: 30px;
}