.search * {
    outline: none;
    box-sizing: border-box;
}

.search__wrapper {
    position: relative;
}

.search__field {
    width: 36px;
    height: 36px;
    color: transparent;
    font-size: 1em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    display: inline-block;
    outline: none;
}

@media screen and (min-width: 701px){
    .search__field:focus {
        border-bottom-color: var(--charte-dark);
        width:20vw;
        color: var(--charte-dark);
        cursor: default;
    }

    .search__icon {
        background-color: var(--charte-white);
        color: var(--charte-dark);
        border-radius: 5px;
        pointer-events: none;
        transition: background-color 0.2s ease-in-out;
    }

    .search__field:focus~.search__icon {
        color: var(--charte-white);
        background-color: var(--charte-dark);
        cursor: pointer;
        pointer-events: auto;
        border-radius: 5px 5px 0 0;
    }
}

@media screen and (max-width: 700px){

    #responsive-nav form.search .search__wrapper .search__field {
        border-bottom: 1px solid var(--charte-grey-light);
    }
    .search__field {
        width: 100%;
        color: var(--charte-dark);
        cursor: default;
        padding: 0.35em 50px;
        text-align: center;
    }

    .search__icon {
        color: var(--charte-white);
        background-color: var(--charte-dark);
        cursor: pointer;
        pointer-events: none;
        border-radius: 5px 5px 0 0;
    }

}

.search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}