.resource-content {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-areas: 'description information';
}

.resource-description {
    grid-area: description;
}
.resource-informations {
    grid-area: information;
}

/*DESCRIPTION*/
.resource-title .actions {
    display: flex;
    flex-direction: row;
}
.resource-title .actions > *:not(:last-child){
    margin-right: 15px;
}

.author-date {
    font-style: italic;
    color: var(--charte-grey);
}

.is-useful {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: max-content;
    padding: 10px 20px;
    box-shadow: 0 0 5px var(--charte-grey);
}
.is-useful p {
    margin: 0;
    display: block;
}
.is-useful div {
    display: flex;
    flex-direction: row;
}
.is-useful *:not(:last-child) {
    margin-right: 15px;
}


/*COMMENTS*/
.comment-title-content {
    display: flex;
    flex-direction: row;
}
.comment-actions {
    display: flex;
    flex-direction: row;
}
.actions {
    float: right;
}

/*RESOURCE COMMENTS AND COMMENTARY*/
.commentary-author {
    font-weight: bold;
    color: var(--charte-blue);
}

.user-form {
    box-shadow: 0 0 5px var(--charte-grey);
    padding: 20px;
}

.commentary-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentary-actions .btn-more-less {
    margin: 0;
}
.commentary-actions-buttons {
    display: flex;
    flex-direction: row;
}

/*COMMENTARIES*/
.answer-content, .answerForm-content {
    padding: 0 60px;
}

.answer {
    display: block;
}

.answer:not(:first-child) {
    padding-top: 16px;
    border-top: 1px solid var(--charte-hr);
}

.answer .author-date {
    margin: 0;
}
#ToTop{
    position:-webkit-sticky;
    position: sticky;
    left:98%;
    bottom: 40px;
    border-radius:3px;
    max-width: 40px;
    }
a#cRetour{
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.25);
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
}
#ToTop.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}

#ToTop.cVisible{
    bottom: 40px;
    opacity:1;
}



@media (max-width: 800px) {
    .resource-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'description'
        'information';
    }
    .resource-information {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .resource-information .resource-informations-title {
        display: none;
    }
}
@media (max-width: 509px) {
    .resource-information .stat-card {
        display: none;
    }
}