

#sort{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 10px;
    margin-bottom: 5px;
    left: 90%;
    background-color: #0083ae;
    color: white;
    border: 1px solid #0083ae;
}

#sort:hover{
    background-color: white;
    color: #0083ae;}

.sort_label{
    align-items: center;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.sort_fa_down .fa_down:before{
    content:"\F107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
}


#sort_list{
    display: none;
    position: absolute;
    z-index: 100;
    top:0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:5px ;
    border-radius: 7px;
    border: 1px solid black;
    min-width:200px;
}

#sort_list ul{
    list-style: none;
    padding: 0;
}

.sort_items{
    padding-left: 5px;
    align-items: center;
    font-size: 14px !important;
    font-weight: 300;
}
.sort_items a{
    color:black;
    text-decoration: none;
}

.sorted{background-color:#cfcfcf ;
    text-decoration: underline black }

.sort_items:hover {background-color:#cfcfcf}
