table {
    width: 100%;
    margin-bottom: 16px;
}

/*thead, tbody tr {*/
/*    box-shadow: 0 5px 5px -5px var(--charte-grey-light);*/
/*}*/

thead {
    background-color: var(--charte-dark-light);
    color: var(--charte-white);
    box-shadow: inset 0 0 10px var(--charte-dark);
    /*border: 1px solid var(--charte-grey-light);*/
}

th,
td a span,
td span {
    padding: 10px;
}

th {
    font-weight: bold;
}

td a,
td a span,
td span {
    display: block;
}

td a,
td a:hover {
    text-decoration: none;
    color: var(--charte-dark-light);
}

tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--charte-grey-light);
}

tbody > tr.table-link:hover {
    box-shadow: 0 0 10px var(--charte-grey);
}