.user-content {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-areas: 'description stats';
}

.user-description {
    grid-area: description;
}

.user-description > *:not(:last-child) {
    margin-bottom: 20px;
}

.description-label {
    font-weight: bold;
    color: var(--charte-blue);
}

.user-stats {
    grid-area: stats;
}

.user-stats a {
    text-decoration: none;
}

.user-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-action > a:not(:last-child) {
    margin-right: 10px;
}

.stat-card {
    box-shadow: inset 0 0 10px var(--charte-dark);
}
.stat-card:hover {
    box-shadow: 0 0 10px var(--charte-dark);
}

/*.h2 {*/
/*    color: rgb(3, 152, 158);*/
/*    margin: 3%;*/
/*}*/

/*.input-group-text {*/
/*    background-color: rgb(255, 188, 90);*/
/*}*/

/*.div-personal-info {*/
/*    background-color: rgb(255, 188, 90, 0.3);*/
/*}*/

/*.btn-perso, .card-linked {*/
/*    background-color: rgb(3, 152, 158);*/
/*    color: white;*/
/*}*/

/*.btn-selected {*/
/*    background-color: rgb(255, 188, 90);*/
/*    color: white;*/
/*}*/

/*.card-not-linked {*/
/*    background-color: rgb(255, 188, 90);*/
/*}*/

/*.card-linked {*/
/*    text-decoration: none;*/
/*}*/

/*.card-linked:hover {*/
/*    color: black;*/
/*}*/

/*.tab-header {*/
/*    background-color: rgb(255, 188, 90);*/
/*}*/

/*!*form resource*!*/
/*.field-description {*/
/*    height: 20em;*/
/*}*/