{% extends 'base.html.twig' %}

{% block title %}Editer le commentaire{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ include('commentary/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
