{% extends 'base.html.twig' %}

{% block title %}Editer le commentaire{% endblock %}

{% block body %}
    {{ include('commentary/_form.html.twig', {'form_title': '<h2>Modifier le commentaire</h2>', 'button_label': 'envoyer'}) }}
{% endblock %}
