.div-cartouche {
    border-right: solid 0.1em white;
}

.div-red-cartouche {
    height: 7em;
}

.div-blue-green-cartouche {
    height: 6em;
}

.div-cartouche-header {
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid white 0.1em;
}

.div-cartouche-under-header {
    padding-top: 5%;
    padding-bottom: 5%;
}
.bg-danger{background-color: #ff5715 !important}
.bg-primary{background-color: #49aafa !important}
.bg-success{background-color: #10c152  !important}
a.bg-danger:hover{background-color: #d9440a  !important}