.div-cartouche {
    border-radius: 5px;
}

.div-red-cartouche {
    height: 6.5em;
}

.div-blue-green-cartouche {
    height: 5.5em;
}

.div-cartouche-header {
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid white 0.1em;
}

.div-cartouche-under-header {
    padding-top: 5%;
    padding-bottom: 5%;
}