{% extends'base.html.twig' %}

{% block title 'toutes nos ressources' %}

{% block body %}



    <div class="container mt-4">
        <h1 style="color:dodgerblue"> Les ressources </h1>

        <div class="row">
            {% for resource in resources %}
                <div class="col-md-4">
                    {% include'resources/_resource.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(resources) }}
        </div>
    </div>
{% endblock %}



