{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-4 border border-dark">
                <div class="h2 text-center">Informations personnelles</div>
                <div>{{ app.user.username }}</div>
            </div>
            <div class="col-1"></div>
            <div class="col-4 bg-info">hello</div>
        </div>
    </div>
{% endblock %}