{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="maclase">hello</div>
    </div>
{% endblock %}