<p> Bonjour {{user.firstname}} {{user.lastname}}  </p>

<p> Si vous avez demandé à réinitialiser le mot de passe de votre compte, utilisez le lien ci-dessous. Si vous n'avez pas fait cette demande, ignorez cet email. </p>

<a href='{{url}}'>Récupération de votre mot de passe</a>